In [1]:
# import libraries
import pandas as pd

In [2]:
# Read vine table
df = pd.read_csv('vine_table.csv')

In [3]:
# display dataframe
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [4]:
# retrieve rows where total votes is equal or greater than 20
total_vote_count = df[df['total_votes'] >= 20]
total_vote_count

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
61,R2M1TGWAI7ED73,5,110,142,N,N
94,R4PKAZRQJJX14,1,21,34,N,N
103,REC11EG59BRCQ,1,13,90,N,N
132,R2CI0Y288CC7E2,1,21,35,N,Y
136,R2LKLC82XA1LIM,1,18,35,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [5]:
# Retrieve rows where total vote count where helpful votes divided by total votes is greater than 50%
percentage_of_votes = total_vote_count[(total_vote_count['helpful_votes'] / total_vote_count['total_votes']) >= 0.5]

In [6]:
# Retrieve all the rows where a review was written as part of the Vine program (paid),
paid_vine_program = percentage_of_votes[percentage_of_votes['vine'] == 'Y']
paid_vine_program

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
48011,R1OWK33OPI45KT,5,55,58,Y,N
51206,R2UP7VTED8O425,5,35,41,Y,N
64890,R3KKUSGFZWSUIY,5,56,63,Y,N
65935,R10FO5UKKVZBK2,3,23,23,Y,N
97740,R3N4QAXTQCA1ED,5,18,20,Y,N
...,...,...,...,...,...,...
1457251,RLPTVGLU0JQIP,3,42,45,Y,N
1469842,R3ASJ9SENYYYI0,5,40,46,Y,N
1505452,RNU8PK609WT6P,4,347,362,Y,N
1555706,R8YT75NJW0CM9,4,37,40,Y,N
1556440,R2EDL85YVF0PRA,5,23,32,Y,N

In [7]:
# Retrieve all the rows where a review was not written as part of the Vine program (not paid),
unpaid_vine_program = percentage_of_votes[percentage_of_votes['vine'] == 'N']

In [8]:
# List of total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid)
total_reviews = paid_vine_program['total_votes'].sum()
number_five_star = (paid_vine_program['star_rating'] == 5).sum()
five_star_percentage = round((number_five_star / (paid_vine_program['star_rating']).count())* 100)

In [9]:
total_unpaid_reviews = unpaid_vine_program['total_votes'].sum()
number_unpaid_five_star = (unpaid_vine_program['star_rating'] == 5).sum()
unpaid_five_star_percentage = round((number_unpaid_five_star / (unpaid_vine_program['star_rating']).count())* 100)

In [12]:
new_data = {'Vine':[total_reviews,number_five_star,five_star_percentage],
            'Non-Vine': [total_unpaid_reviews,number_unpaid_five_star,unpaid_five_star_percentage]    
}

Final_analysis =pd.DataFrame.from_dict(new_data,orient ='index', columns=['Total number of reviews',
                                        'Number of 5-star reviews',
                                        'Percentage of 5-star reviews']
)

In [13]:
Final_analysis

,Total number of reviews,Number of 5-star reviews,Percentage of 5-star reviews
Vine,5808,48,51
Non-Vine,2261967,15663,39